<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">

        <!-- HTML Meta Tags -->
        <title>{{SiteTitle}}</title>
        <meta name="description" content="{{SiteDescription}}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://devinkott.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{SiteTitle}}">
        <meta property="og:description" content="{{SiteDescription}}">

        <!-- Twitter Meta Tags -->
        <meta property="twitter:domain" content="devinkott.com">
        <meta property="twitter:url" content="https://devinkott.com">
        <meta name="twitter:title" content="{{SiteTitle}}">
        <meta name="twitter:description" content="{{SiteDescription}}">

        <!-- Twitter Meta Tags -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <style>
            body {
                line-height: 1.5;
                margin: 1rem;
            }

            footer {
                margin-top: 2rem;
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            a:hover, a:focus {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {{#with Header}}
        <header>
            <h1>{{Title}}</h1>
            <p>{{Summary}}</p>
        </header>
        {{/with}}

        <main>
            <section>
                {{#with Work}}
                <h2>{{SectionTitle}}</h2>
                <p>
                    <span>{{TotalExp}}</span> <span id="total-experience"></span> {{Years}}
                </p>
                {{/with}}
                {{#each jobs}}
                <article>
                    <h3>{{title}}, {{company}}</h3>
                    <p aria-label="Job Duration">
                        <time datetime="{{startDate}}" aria-label="Started on {{startDate}}"></time> -
                        {{#if endDate}}<time datetime="{{endDate}}" aria-label="Ended on {{endDate}}"></time>{{else}}Present{{/if}}, 
                        <span class="duration" data-start="{{startDate}}" data-end="{{endDate}}"></span>
                    </p>
                    {{#if responsibilities.length}}
                    <ul aria-label="Job Responsibilities">
                        {{#each responsibilities}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </article>
                {{/each}}
            </section>

            {{#with Education}}
            <section>
                <h2>{{SectionTitle}}</h2>
                <ul aria-label="Educational Degrees">
                    <li>{{Masters}}</li>
                    <li>{{Bachelors}}</li>
                </ul>
            </section>
            {{/with}}
        </main>

        {{#with Footer}}
        <footer role="contentinfo">
            <p>
                &copy; {{YearAndName}}
                <span aria-hidden="true">|</span> {{BuiltWith}} <a href="https://handlebarsjs.com/" target="_blank" rel="noopener noreferrer">Handlebars</a>
                <span aria-hidden="true">|</span> {{HostedOn}} <a href="https://aws.amazon.com/" target="_blank" rel="noopener noreferrer">AWS</a>
                <span aria-hidden="true">|</span>
                <a href="humans.txt" aria-label="View the humans.txt file">{{Humans}}</a>
                <span aria-hidden="true">|</span>
                <a href="robots.txt" aria-label="View the robots.txt file">{{Robots}}</a>
            </p>
        </footer>
        {{/with}}

        <script>
            function calculateJobDuration() {
                const dateFormatter = new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short' });

                const calculateMonths = (startDate, endDate) => {
                    const start = new Date(startDate);
                    const end  = endDate ? new Date(endDate) : new Date();
                    return (end.getFullYear() - start.getFullYear()) * 12 + (end.getMonth() - start.getMonth());
                };

                let totalMonths = 0;
                document.querySelectorAll('.duration').forEach(
                    element => {
                        const jobMonths = calculateMonths(
                            element.getAttribute('data-start'),
                            element.getAttribute('data-end')
                        ) + 1;

                        totalMonths += jobMonths;
                        const years = Math.floor(jobMonths / 12);
                        const months = jobMonths % 12;
                        element.textContent = years ? `${years} yrs ${months} mos` : `${months} mos`;
                    }
                );

                document.getElementById("total-experience").textContent = (totalMonths / 12).toFixed(1);

                document.querySelectorAll('time').forEach(
                    timeElement => {
                        const date = new Date(timeElement.getAttribute('datetime'));
                        timeElement.textContent = dateFormatter.format(date);
                    }
                );
            }

            document.addEventListener('DOMContentLoaded', calculateJobDuration);
        </script>
    </body>
</html>
